<header>
  <h1>Welcome to the Ruby Planets app</h1>
  <nav>
    <ul>
      <li>
        <h3><%= link_to 'Home', root_path %></h3>
      </li>
      <li>|</li>
      <li>
        <h3><%= link_to 'All Planets', planets_path %></h3>
      </li>
      <li>|</li>
      <li>
        <h3><%= link_to 'Random planet', planets_random_path %></h3>
      </li>
      <li>|</li>
    </ul>
  </nav>
</header>
<main>
  <div>
    <img src='https://iwsmt-content-ok2nbdvvyp8jbrhdp.stackpathdns.com/2282013232750iAtC2afkODS6U.gif' />
  </div>
</main>
