<h1>Welcome to the Ruby Planets app</h1>
<%= link_to 'View a list of Planets', planets_path %>
<div>
  <img src='https://iwsmt-content-ok2nbdvvyp8jbrhdp.stackpathdns.com/2282013232750iAtC2afkODS6U.gif' />
</div>
